<div class="stats-component">
    <ul>
        <li>
            <div class="stat-name">{{ getContent('bravery') }}:</div>
            <div class="stat-level"><div style="width: {{ score.bravery }}%"></div></div>
            <div class="stat-value">{{ score.bravery }}%</div>
        </li>
        <li>
            <div class="stat-name">{{ getContent('friendly') }}:</div>
            <div class="stat-level"><div style="width: {{ score.friendly }}%"></div></div>
            <div class="stat-value">{{ score.friendly }}%</div>
        </li>
        <li>
            <div class="stat-name">{{ getContent('rational') }}:</div>
            <div class="stat-level"><div style="width: {{ score.rational }}%"></div></div>
            <div class="stat-value">{{ score.rational }}%</div>
        </li>
        <li>
            <div class="stat-name">{{ getContent('cowardly') }}:</div>
            <div class="stat-level"><div style="width: {{ score.cowardly }}%"></div></div>
            <div class="stat-value">{{ score.cowardly }}%</div>
        </li>
        <li>
            <div class="stat-name">{{ getContent('dreadful') }}:</div>
            <div class="stat-level"><div style="width: {{ score.dreadful }}%"></div></div>
            <div class="stat-value">{{ score.dreadful }}%</div>
        </li>
    </ul>
</div>
