
<router-outlet>
    <div>
        <div class="locale-selector">
            <select (change)="languageChange($event)">
                <option value="en">English</option>
                <option value="pt">Portuguese</option>
            </select>
        </div> 
        <div class="layout" id="main">
            <h1><img src="../assets/img/logo.png" width="778"></h1>
            <div>
                <!-- introduction section -->
                <div *ngIf="showIntroduction" class="introduction">
                    <div class="title">
                        <h2>{{ getContent('z_warrior_test') }}</h2>
                    </div>
                    <div class="text-area">
                        <app-character-sprite name="son-gohan"></app-character-sprite>
                        <ul>
                            <li>{{ getContent('rules_you_have_n_questions') }}</li>
                            <li>{{ getContent('rules_each_choice_will_add_points') }}</li>
                            <li>{{ getContent('rules_when_you_finish_the_ansers') }}</li>
                        </ul>
                    </div>
                    <div class="centered">
                        <button class="start-button" (click)="startGame()">{{ getContent('start') }}</button>
                    </div>
                </div>
                <!-- question section -->
                <app-question
                    *ngIf="showQuestions"
                    [title]="questionTitle"
                    [question]="currentQuestion"
                    [locale]="locale"
                    (alternativePick)="alternativeClick($event)"
                ></app-question>
                <!-- result section -->
                <div *ngIf="showResults">
                    <h2>{{ getContent('quiz_is_over_results') }}</h2>
                    <app-results
                        [locale]="locale"
                        [score]="resultScore"
                        [characters]="rankedCharacters"
                    ></app-results>
                    <div class="centered">
                        <button class="start-button" (click)="restartGame()">restart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</router-outlet>